<template>
  <div class="questions-ctr">
    <div class="progress">
      <div class="bar"
           :style="{ width: `${total/questions.length *100}%`}"></div>
      <div class="status">{{ total }} out of {{ questions.length }} questions answered</div>
    </div>
    <transition-group name="fade">
      <div class="single-question"
           v-for="(question, qi) in questions"
           :key="question.q"
           v-show="total === qi">
        <div class="question">{{ question.q }}</div>
        <div class="answers">
          <div class="answer"
               v-for="answer in question.answers"
               :key="answer.text"
               @click="selectAnswer(answer.is_correct)">{{ answer.text }}</div>
        </div>
      </div>
    </transition-group>
  </div>
</template>
<script>
export default {
  name: "Questions-block",
  emits: ["answer-action"],
  props: {
    questions: {
      type: Array,
      default: () => {},
    },
    total: {
      type: Number,
      default: 0,
    },
  },
  methods: {
    selectAnswer(is_correct) {
      this.$emit("answer-action", is_correct);
    },
  },
};
</script>
<style lang="">
</style>